<%#エラー文、後から%>

<!--spot詳細-->
    <p><%= attachment_image_tag(@spot, :image, :fill, 70, 70, fallback: "noimage.jpg") %></p>

    <p><%= @spot.name %></p>

    <p><%= @spot.overview %></p>

    <p><%= @spot.address %>

    <p>エリア<%= @spot.tourist.name %></p>

<!--GoogleMap-->
<div id="map"></div>

<style>
#map{
  height: 400px;
}
</style>

<script type="text/javascript">
    function initMap() {

        var test ={lat: <%= @spot.latitude %>, lng: <%= @spot.longitude %>};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: test
        });
        var transitLayer = new google.maps.TransitLayer();
        transitLayer.setMap(map);

        var contentString = '住所：<%= @spot.address %>';
        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });

        var marker = new google.maps.Marker({
            position:test,
            map: map,
            title: contentString
        });

        marker.addListener('click', function() {
            infowindow.open(map, marker);
        });
    }
</script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
</script>
<!--GoogleMap-->

<%#ここから、口コミ投稿view%>
    <%= form_for @review do |f| %>
        <%= f.hidden_field :spot_id, value: @spot.id %>
        <%= f.hidden_field :customer_id, value: current_customer.id %>
        <%= f.text_field :title %>
        <%= f.text_area :body %>
        <%= f.attachment_field :image %>
<!-- 評価 -->
    <div class="form-group row" id="star">
        <%= f.label :rate,'評価' %>
        <%= f.hidden_field :rate, id: :review_star %>
    </div>

<!-- 評価javascript -->
    <script>
    $('#star').raty({
        size     : 36,
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        scoreName: 'review[rate]',
        half: true,
    });
    </script> 

        <%= f.submit '投稿' %>
    <% end %>
<%#ここまで、口コミ投稿view%>

<!--ここから口コミ一覧-->
    <% @reviews.each do |review| %>
    <%= review.title %>
    <%= review.body %>
    <%= attachment_image_tag(review, :image, :fill, 70, 70, fallback: "noimage.jpg") %>
    <%= link_to review.customer.nickname, customer_path(review.customer_id) %>
    <% if customer_signed_in? && review.customer.id == current_customer.id %>
    <%= link_to "Destroy", review_path(review.id), method: :delete %>
    <% end %>


<!--いいね機能について-->
<p class="review_<%= review.id %>">
<%= render  "reviews/favo",review:review , customer:current_customer %>
</p>
<!--星評価-->
    <div id="star-rate-<%= review.id %>"></div>
        <script>
            $('#star-rate-<%= review.id %>').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn :  '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: <%= review.rate %>,
            });
        </script>  
<!--/星評価-->
    <% end %>
    
