<% if @tourist_or_spot == "1"%>
    <h1>観光エリア</h1>
  <table>
    <thead>
      <tr>
        <th>地名</th>
        <th>概要</th>
        <th>image</th>
        <th>編集</th>
      </tr>
    </thead>

    <tbody>
      <% @tourists.each do |tourist| %>
        <tr>
            <td><%= link_to tourist.name, tourist_path(tourist) %></td>
            <td><%= tourist.overview %></td>

            <td><%= attachment_image_tag(tourist, :image, :fill, 400, 200, fallback: "noimage.jpg") %>
            </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <% elsif @tourist_or_spot == "2" %>
    <h2>観光スポット</h2>

    <table>
        <thead>
                <tr>
                    <th></th>
                    <th>Title</th>
                    <th>Opinion</th>
                    <th colspan="3"></th>
                </tr>
        </thead>
        
        <% @spots.each do |spot| %>
        <thead>
        <td><%= attachment_image_tag(spot, :image, :fill, 70, 70, fallback: "noimage.jpg") %></td>

        <td><%= link_to spot.name, spot_path(spot) %></td>

        <td><%= spot.overview %></td>

        <td><%= spot.address %></td>

        <td><%= spot.tourist.name %></td>
        <% end %>
        </thead>
    </table>
<% else %>
<% end %>