
<div class="row">
    <div class="col-md-1 col-lg-1"></div>
    <div class="col-md-10 col-lg-10">

        <div class="row details">
            <div class="col-md-12 col-lg-7">
                <div class="text-center"><%= attachment_image_tag(@tourist, :image, :fill, 1000, 709, 
                fallback: "noimage.jpg", size:'500x355', class:'img') %></div>
            </div>

            <div class="col-md-12 col-lg-5">
                <h3><%= @tourist.name %></h3>
                <div><%= @tourist.overview %></div>
            </div>


        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-0 col-md-1 col-sm-0"></div>
    <div class="col-lg-12 col-md-10 col-sm-12">
    <div class="row">
    <% @spots.each do |spot| %>
        <div class="col-md-6 col-sm-6 col-lg-4">

        <%= link_to(spot_path(spot), class: '') do %>

            <div class="box">
            <div class="text-center"><%= attachment_image_tag(spot, :image, :fill, 1000, 709, 
                fallback: "noimage.jpg", size:'325x230', class:'img') %></div>

            <h4><%= spot.name %></h4>

            <p><%= spot.address %></p>

            <p><i class="far fa-comment">
            </i><%= spot.reviews.all.count %>件</p>
            </div>

        <% end %>
        </div>
    <% end %>
    </div>
    </div>
</div>