<h1>Follow</h1>

<% @customers.each do |customer| %>

<div class="row box">
        <div class="col-md-3 col-sm-3">
			<div>
			    <%= attachment_image_tag(customer, :image, 
                :fill, 1000, 709, fallback: "noimage.jpg", size:'80x80',class:'profile_img') %>
            </div>
        </div>

		<div class="col-md-3 col-sm-3">
			</br>
			<p style="font-size:20px;"><%= link_to customer.nickname, customer_path(customer.id), :style=>"color:gray;" %></p>
		</div>

		<div class="col-md-3 col-sm-3">
			</br>
			<p style="font-size:17px;"><%= "フォロー : #{customer.follower.count}" %></br>
				<%= "フォロワー : #{customer.followed.count}" %></p>
		</div>

		<div class="col-md-3 col-sm-3">
			<% if customer_signed_in? %>
        	<% if current_customer.following?(customer) %>
				</br>
				<p style="font-size:15px;"><%= link_to 'フォローを外す', unfollow_path(customer.id), method: :POST ,class:"text-danger" %></p>
			<% else %>
				</br>
			    <p style="font-size:15px;"><%= link_to 'フォローをする', follow_path(customer.id), method: :POST ,class:"text-success" %></p>
			<% end %>

			<% else %>
			<span></span>
			<% end %>
		</div>
</div>
<% end %>

