<h1 class="headline">観光地域変更</h1>

<%= render 'layouts/errors', obj: @tourist %>

<div class="row box">
    <%= form_for (@tourist), url: admins_tourist_path do |f| %>

    <div class="col-md-4">
        <%= f.label :name, "地名" %></br>
        <%= f.text_field :name %></br>

        <%= f.label :overview, "概要" %></br>
        <%= f.text_area :overview %></br>
    </div>

    <div class="col-md-4">
        <%= f.label :image, "image" %>
        <%= f.attachment_field :image %></br>
    </div>

    <div class="col-md-4">
        <%= f.submit "変更を確定する" , class:"btn-gradation" %>
    <% end %>

    </br></br><%= link_to '削除する', admins_tourist_path(@tourist.id), 
    method: :delete, data: {confirm: "削除してもよろしいですか？"} , class:"btn-gradation" , :style=>"color:white;"%>
    </div>
</div>