<h1>観光エリア登録</h1>
    <%= form_for (@tourist), url: admins_tourists_path do |f| %>

        <%= f.label :name, "地名" %>
        <%= f.text_field :name %></br>

        <%= f.label :overview, "概要" %>
        <%= f.text_field :overview %></br>

        <%= f.label :image, "image" %>
        <%= f.attachment_field :image %></br>

        <%= f.submit "登録" %>
    <% end %>

    <p>-------------------------------------------------</p>
<%= render "admins/tourists/touristlist", tourists: @tourists %>


