<% if customer_signed_in? && customer.id == current_customer.id %>
    <h2 class="headline">マイページ</h2>
<% else %>
    <h2 class="headline">会員ページ</h2>
<% end %>

<div class="row box">
        <div class="col-md-3">
            <div>
                <%= attachment_image_tag(customer, :image, 
                :fill, 1000, 709, fallback: "noimage.jpg", size:'80x80',class:'profile_img') %>
            </div>
        </div>

        <div class="col-md-3">
            </br><p style="font-size:20px;"><%= customer.nickname %></p>

            <% if customer_signed_in? && customer.id == current_customer.id %>
                 <p><%= link_to  "[情報変更]", edit_customer_path(current_customer) ,class: "text-success" %></p>
            <% end %>
        </div>

        <div class="col-md-3">
            </br>
            <p style="font-size:17px;">フォロー <%=link_to customer.follower.count, 
            customer_relationships_follows_path(customer), :style=>"color:gray;" %>人
            
            フォロワー <%=link_to customer.followed.count,
            customer_relationships_followers_path(customer) , :style=>"color:gray;"%>人</p>
        </div>

<div class="col-md-3">
    <% if customer_signed_in? && customer.id != current_customer.id %>
      <% if current_customer.following?(customer) %>
            </br>
		    <p style="font-size:15px;"><%= link_to 'フォロー外す', unfollow_path(customer.id), method: :POST ,class:"text-danger" %></p>
	    <% else %>
            </br>
	    	<p style="font-size:15px;"><%= link_to 'フォローする', follow_path(customer.id), method: :POST ,class:"text-success" %></p>
	    <% end %>
    <% else %>
        <span></span>
    <% end %>
      </div>
    </div>


