<% if customer_signed_in? && customer.id == current_customer.id %>
    <h2>マイページ</h2>
<% else %>
    <h2>会員ページ</h2>
<% end %>

<div class="row box">
        <div class="col-md-4"><%= attachment_image_tag(customer, :image, 
          :fill, 40, 40, fallback: "noimage.jpg", size:'80x80') %></div>
<%#アイコンあとで丸くしたい%>

        <div class="col-md-4">
        <p><%= customer.nickname %></p>

    <% if customer_signed_in? && customer.id == current_customer.id %>
        <p><%= link_to  "情報変更", 
            edit_customer_path(current_customer) ,class: "edit_btn" %></p>
    <% end %>
        </div>

        <div class="col-md-4">
        <span>フォロー数<%=link_to customer.follower.count, 
        customer_relationships_follows_path(customer) %>人</span>

        <span>フォロワー数<%=link_to customer.followed.count,
        customer_relationships_followers_path(customer) %>人</span>


    <% if customer_signed_in? && customer.id != current_customer.id %>
      <% if current_customer.following?(customer) %>
		    <span><%= link_to 'フォロー外す', unfollow_path(customer.id), method: :POST %></span>
	    <% else %>
	    	<span><%= link_to 'フォローする', follow_path(customer.id), method: :POST %></span>
	    <% end %>
    <% else %>
        <span></span>
    <% end %>
      </div>
    </div>
</div>

