
<div class="row box">
		<%= render 'layouts/errors', obj: @customer %>
	<%= form_for(@customer) do |f| %>

	<div class="col-md-4 col-sm-6">
		<div class="field">
			<%= f.label :ニックネームを変更する %></br>
			<%= f.text_field :nickname, class: "nickname" %>
		</div>
	</div>

	<div class="col-md-4 col-sm-6">
		<div class="field">
			<%= f.label :プロフィール画像を変更する %>
			<%= f.attachment_field :image, class: "customer_image" %>
		</div>
	</div>

	<div class="col-md-4 col-sm-12">
		</br><div class="actions">
				</br><%= f.submit "更新する", class:"btn-gradation" %>
			</div>
	</div>
	<% end %>
</div>

