<h2 class="headline">ログイン</h2>

<div class="row box">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<div class="col-md-3 col-sm-6 text-center">
  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
</div>

<div class="col-md-3 col-sm-6 text-center">
  <div class="field">
    <%= f.label :パスワード %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>


  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>
</div>


<div class="col-md-3 col-sm-6 text-center">
  <div class="actions">
    </br><%= f.submit "Log in" , class:"btn-gradation"%>
  </div>
  <% end %>
</div>

<div class="col-md-3 col-sm-6 text-left">
  </br><%= render "devise/shared/links" %>
</div>

</div>

