<div class="row">
    <div class="col-md-1 col-sm-1"></div>
    <div class="col-md-10 col-sm-10 box">

        <%= render 'layouts/errors', obj: @spot %>

    <%= form_for (@spot), url: admins_spot_path do |f| %>

    <div class="col-md-4 col-sm-6">
        <%= f.label :name, "観光地名" %></br>
        <%= f.text_field :name %></br>

        <%= f.label :住所 %></br>
        <%= f.text_area :address, autofocus: true %>
    </div>

    <div class="col-md-4 col-sm-6">
        <%= f.label :overview, "概要" %></br>
        <%= f.text_area :overview %></br>

        <%= f.label :tourist_id, "エリア選択" %></br>
        <%= f.collection_select :tourist_id, @tourists, :id, 
        :name, include_blank: "選択してください" %>
    </div>

    <div class="col-md-4 col-sm-6">
        <%= f.label :image, "画像"%></br>
        <%= f.attachment_field :image %></br>

        <%= f.submit "登録" , class:"btn-gradation"%>
    </div>

    <% end %>

    </div>

</div>
