
<div class="row">

        <div class="row box">
            <div class="col-lg-6 col-md-5">
                <h3> <%= @spot.name %> </h3>

                <p>住所</br><%= @spot.address %></p>
                <div>概要</br><%= @spot.overview %></div>

                <p><%= link_to '[編集する]', edit_admins_spot_path(@spot),class:"text-success" %>
                <%= link_to "[削除する]", admins_spot_path(@spot), method: :delete, "data-confirm" => 'Are you sure?' , class:"text-danger" %>
                </p>
            </div>

            <div class="col-lg-6 col-md-5">
                <div class="text-center"><%= attachment_image_tag(@spot, :image, 
                :fill, 1000, 709, fallback: "noimage.jpg", 
                size:'500x355', class:'img') %>
                </div>
            </div>
        </div>
</div>
<!--GoogleMap-->
<div class="row">

<div id="map"></div>

<style>
#map{
  height: 350px;
}
</style>

<script type="text/javascript">
    function initMap() {

        var test ={lat: <%= @spot.latitude %>, lng: <%= @spot.longitude %>};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: test
        });
        var transitLayer = new google.maps.TransitLayer();
        transitLayer.setMap(map);

        var contentString = '住所：<%= @spot.address %>';
        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });

        var marker = new google.maps.Marker({
            position:test,
            map: map,
            title: contentString
        });

        marker.addListener('click', function() {
            infowindow.open(map, marker);
        });
    }
</script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
</script>

</div>
<!--〆GoogleMap-->

<!--ここから口コミ一覧-->
<%= render "admins/reviews/adminreviews", reviews: @reviews %>