<header>
  <div>
    <p id= "notice" class="notice"><%= notice %></p>
    <nav>
      <% if admin_signed_in? %>
      <% end %>
       <% else %>
      <%= link_to root_path do %>
      <% end %>

    </nav>


    <nav>
      <ul>

        <% if admin_signed_in? %>
        <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav_txt" %></li><!--管理者ナビゲーション-->

        <% elsif customer_signed_in? %>
        <li><p class="customer-name_txt brown_txt bold">ようこそ、<%= current_customer.last_name %><%= current_customer.first_name %>さん！</p></li>

        <li><%= link_to 'ログアウト', destroy_customer_session_path, method: :delete, class: "nav_txt" %></li><!--顧客ナビゲーション -->

        <% else %>

        <li><%= link_to '新規登録', new_customer_registration_path %></li>

        <li><%= link_to 'ログイン', new_customer_session_path %></li>
        <% end %><!--共通ナビ-->
      </ul>
    </nav>


  </div>
</header>